{% extends "main/base.html" %}
{% load static %}

{% block title %}
    <title>Про мене</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/about_me.css" %}">
{% endblock css %}

{% block content %}
    <section class="section-about-me">
        <div class="container-global container-about-me">
            {% if about_me %}
            <img src="{{ about_me.second_photo.url }}" alt="" class="image-about-me">
            <div class="container-text-about-me">
                <h2>Адвокат</h2>
                <h1>{% if about_me.name %}{{ about_me.name }}{% endif %} {% if about_me.sername %}{{about_me.sername}}{% endif %}</h1>
                <h3>Ваш надійний правовий союзник</h3>
                {{ about_me.other_about_me_text|safe }}
            </div>
            {% endif %}
        </div>
    </section>
    {% if advantages_working_with_me %}
    <section class="advantages">
        <h2 class="title-section">Переваги роботи зі мною</h2>
        <div class="container-global container-advantages">
            {% for advantage in advantages_working_with_me %}
            <div class="advantage">
                <h3 class="title-advantage">{{ advantage.title }}</h3>
                <p class="text-advantage">{{ advantage.text }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock content %}

{% block js %}

{% endblock js %}