{% extends "main/base.html" %}
{% load static %}

{% block title %}
    <title>Про мене</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/about_me.css" %}">
{% endblock css %}

{% block content %}
    <section class="section-about-me">
        <div class="container-global container-about-me">
            <img src="{% static "deps/image/image_about_me.png" %}" alt="" class="image-about-me">
            <div class="container-text-about-me">
                <h2>Адвокат</h2>
                <h1>Ольга Бардадим</h1>
                <h3>Ваш надійний правовий союзник</h3>
                <p>Мене звуть Ольга Бардадим, і я є професійним адвокатом, відданим справі захисту ваших прав та інтересів.</p>
                <p>У 2010 році я закінчила Київський національний університет імені Тараса Шевченка за спеціальністю «Правознавство», здобувши ґрунтовні знання у галузі права.</p>
                <p>Після завершення навчання я розпочала свій шлях у юридичній сфері, працюючи в органах юстиції та судах України. Значний досвід я отримала, обіймаючи посаду юрисконсульта у великій державній установі, де опанувала тонкощі правового супроводу складних справ. Пізніше, працюючи незалежним адвокатом, я розвинула навички ведення переговорів та представництва інтересів клієнтів у судах різних інстанцій.</p>
                <p>Моя головна перевага – це вміння знаходити індивідуальний підхід до кожного клієнта, чітко аналізувати ситуацію та пропонувати ефективні рішення. Я вірю, що якісна юридична допомога має бути доступною, зрозумілою і результативною.</p>
                <p>Як адвокат, я готова надати вам професійну підтримку у вирішенні будь-яких правових питань – від сімейних спорів до захисту у кримінальних справах. Зверніться до мене вже сьогодні, і ми разом знайдемо шлях до вашої перемоги!</p>
                <p>Окрім юридичної діяльності, я захоплююсь психологією та є сертифікованим медіатором. Ці знання допомагають мені краще розуміти потреби клієнтів і досягати компромісів навіть у найскладніших ситуаціях.</p>
                <p>Моя мета – не просто надавати послуги, а забезпечувати вам впевненість і спокій завдяки успішному вирішенню ваших правових питань!</p>
            </div>
        </div>
    </section>
    <section class="advantages">
        <h1 class="title-section">Переваги роботи зі мною</h1>
        <div class="container-global container-advantages">
            <div class="advantage">
                <h1 class="title-advantage">Досвід та компетентність</h1>
                <p class="text-advantage">Маю більш ніж 15-річний досвід роботи у різних галузях права, я маю глибокі знання та навички, необхідні для вирішення найскладніших юридичних проблем. Моя практика підтверджена десятками успішно завершених справ та задоволених клієнтів.</p>
            </div>
            <div class="advantage">
                <h1 class="title-advantage">Індивідуальний підхід</h1>
                <p class="text-advantage">Кожен випадок унікальний, і я завжди уважно вивчаю всі деталі, щоб розробити найбільш ефективну стратегію захисту. Ви можете розраховувати на персоналізований сервіс з урахуванням ваших потреб і побажань.</p>
            </div>
            <div class="advantage">
                <h1 class="title-advantage">Відповідальність, чесність</h1>
                <p class="text-advantage">Я беру на себе відповідальність за кожну справу, яку беру до виконання, і завжди дію в інтересах клієнта, дотримуючись високих стандартів професійної етики. Ви можете бути впевнені в моєму професіоналізмі та чесності.</p>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}

{% endblock js %}