{% extends "main/base.html" %}
{% load static %}

{% block title %}
    <title>Політика конфіденційності</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/conditioning_policy.css" %}">
{% endblock css %}

{% block content %}
    <section class="section-policy">
        <div class="container-global container-policy">
            {% if policy %}
                <h1>{{ policy.title }}</h1>
                {{ policy.content|safe }}
                <p>Останнє оновлення: {{ policy.updated_at|date:"d.m.Y" }}</p>
            {% else %}
                <p>Політика конфіденційності не знайдена.</p>
            {% endif %}
        </div>
    </section>
{% endblock content %}

{% block js %}

{% endblock js %}