{% extends "main/base.html" %}
{% load static %}
{% load service_tags %}

{% block title %}
    <title>Адвокат {{ about_me.name }} {% if about_me.sername %}{{about_me.sername}}{% endif %}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/main.css" %}">
{% endblock css %}

{% block content %}
    <section class="home">
        <div class="home-container">
            <h1>Професійна юридична допомога у складних та індивідуальних справах.</h1>
            <h2>Ми забезпечимо надійний правовий захист і знайдемо найкраще рішення для вас.</h2>
            {% first_slug_consultation as first_consultation %}
            {% if first_consultation %}
            <a href="{% url "services:consultation" slug=first_consultation.slug %}" class="button button-sing-up-for-consultation button-link" title="Обрати консультацію">Обрати консультацію</a>    
            {% endif %}
            <p>Отримаєте кваліфіковану допомогу вже сьогодні!</p>
        </div>
    </section>
    {% if about_me %}
    <section class="section-about-me">
        <div class="container-about-me">
            <div class="container-text-about-me">
                <div class="container-name-lawyer">
                    <h2>Адвокат</h2>
                    <h1>{{ about_me.name }} {% if about_me.sername %}{{about_me.sername}}{% endif %}</h1>
                </div>
                <div class="container-text">
                    {{ about_me.main_about_me_text|safe }}
                </div>
            </div>
            {% if about_me.first_photo %}
            <img class="image-about-me" src="{{ about_me.second_photo.url }}" alt="">
            {% endif %}
        </div>
        <ul class="information">
            {% if about_me.years_of_experience %}
            <li class="container-information">
                <h2>{{ about_me.years_of_experience }}</h2>
                <p>Років досвіду</p>
            </li>
            {% endif %}
            {% if about_me.winning_cases_count %}
            <li class="container-information">
                <h2>{{ about_me.winning_cases_count }}</h2>
                <p>Виграних справ</p>
            </li>
            {% endif %}
            {% if about_me.client_count %}
            <li class="container-information">
                <h2>{{ about_me.client_count }}</h2>
                <p>Клієнтів</p>
            </li>
            {% endif %}
        </ul>
    </section>
    {% endif %}
    {% if advantages_working_with_me %}
    <section class="advantages">
        <h2 class="title-section">Переваги роботи зі мною</h2>
        <div class="container-global container-advantages">
            {% for advantage in advantages_working_with_me %}
            <div class="advantage">
                <h3 class="title-advantage">{{ advantage.title }}</h3>
                <p class="text-advantage">{{ advantage.text }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% if services %}
        <section class="services">
            <h1 class="title-section">Послуги</h1>
            <ul class="list-services">
                {% for service in services %}
                    <li class="service">
                        <a href="{% url "services:index" slug=service.slug %}">
                            {% if service.image %}
                                <img class="service-image" src="{{ service.image.url }}" alt="Зображення {{service.title}}">
                            {% else %}
                                <img class="service-image" src="{% static "deps/image/alt.png" %}" alt="Зображення не знайдено">
                            {% endif %}
                            <div class="service-container-title">
                                <h3 class="service-title">{{ service.title }}</h3>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    {% if consultations %}
        <section class="consultations">
            <h2 class="title-section">Надаю консультацій з таких питань</h2>
            <ul class="list-consultations">
                {% for consultation in consultations %}
                    <li class="consultation">
                        <a href="{% url "services:consultation" slug=consultation.slug %}">
                            {% if consultation.image %}
                                <img src="{{ consultation.image.url }}" class="consultation-image" alt="Зображення {{consultation.title}}">
                            {% else %}
                                <img src="{% static "deps/image/alt.png" %}" class="consultation-image" alt="Зображення не знайдено">
                            {% endif %}
                            <div class="consultation-container-title">
                                <h3 class="consultation-title">{{ consultation.title }}</h3>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    {% if reviews %}
        <section class="reviews">
            <h2 class="title-section">Відгуки</h2>
            <div class="container-global container-reviews">
                <ul class="list-reviews">
                    {% for review in reviews %}
                        <li class="review">
                            <h3 class="name">{{ review.name }}</h3>
                            <div class="container-stars">
                                <div class="body-stars">
                                    <div class="stars-active"></div>
                                </div>
                                <div class="stars-value">{{ review.stars }}</div>
                            </div>
                            <p class="text-review">{{ review.text }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <div class="buttons-left-and-right">
                    <button type="button" class="button-review-left">
                        <svg width="56" height="38" viewBox="0 0 56 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.23223 17.2322C0.255922 18.2085 0.255922 19.7915 1.23223 20.7678L17.1421 36.6777C18.1184 37.654 19.7014 37.654 20.6777 36.6777C21.654 35.7014 21.654 34.1184 20.6777 33.1421L6.53553 19L20.6777 4.85786C21.654 3.88155 21.654 2.29864 20.6777 1.32233C19.7014 0.34602 18.1184 0.34602 17.1421 1.32233L1.23223 17.2322ZM53 21.5C54.3807 21.5 55.5 20.3807 55.5 19C55.5 17.6193 54.3807 16.5 53 16.5V21.5ZM3 21.5H53V16.5H3V21.5Z" fill="black" />
                        </svg>
                    </button>
                    <button type="button" class="button-review-right">
                        <svg width="56" height="38" viewBox="0 0 56 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 16.5C1.61929 16.5 0.5 17.6193 0.5 19C0.5 20.3807 1.61929 21.5 3 21.5V16.5ZM54.7678 20.7678C55.7441 19.7915 55.7441 18.2085 54.7678 17.2322L38.8579 1.32233C37.8816 0.34602 36.2986 0.34602 35.3223 1.32233C34.346 2.29864 34.346 3.88155 35.3223 4.85786L49.4645 19L35.3223 33.1421C34.346 34.1184 34.346 35.7014 35.3223 36.6777C36.2986 37.654 37.8816 37.654 38.8579 36.6777L54.7678 20.7678ZM3 21.5H53V16.5H3V21.5Z" fill="black" />
                        </svg>
                    </button>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="map-and-contacts">
        <h2 class="title-section">Контакти</h2>
        <div class="container-global container-map-and-contacts">
            <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1768.3812444188761!2d34.65500623682807!3d47.64328877123732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc972b20be3613%3A0xc8d312a93accbcbd!2z0J_QsNGA0LrQvtCy0LDRjyDRg9C7LiwgOSwg0JzQsNGA0LPQsNC90LXRhiwg0JTQvdC10L_RgNC-0L_QtdGC0YDQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDUzNDAw!5e0!3m2!1sru!2sua!4v1742379323755!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="container-contacts">
                {% if about_me.third_photo %}
                <img src="{{ about_me.third_photo.url }}" alt="" class="author-image-in-contact">
                {% endif %}
                <div class="contacts">
                    <h1 class="name-author-in-contact">{{ about_me.name }} {% if about_me.sername %}{{about_me.sername}}{% endif %}</h1>
                    {% if about_me.phone or about_me.email or about_me.address %}
                    <div class="contact-and-address">
                        {% if about_me.phone %}
                        <a href="tel:{{ about_me.phone }}" class="phone">Телефон: {{ about_me.phone }}</a>
                        {% endif %}
                        {% if about_me.email %}
                        <a href="mailto:{{ about_me.email }}" class="email">Email: {{ about_me.email }}</a>
                        {% endif %}
                        {% if about_me.address %}
                        <p class="address">Адреса: {{ about_me.address }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if about_me.viber or about_me.telegram or about_me.messenger or about_me.whatsapp %}
                    <h2>Наші мережи</h2>
                    <div class="container-messengers">
                        {% if about_me.viber %}
                        <a href="{{ about_me.viber }}" class="messenger-link">
                            <img src="{% static "deps/svg/viber.svg" %}" class="messenger-logo">
                        </a>
                        {% endif %}
                        {% if about_me.telegram %}
                        <a href="{{ about_me.telegram }}" class="messenger-link">
                            <img src="{% static "deps/svg/telegram.svg" %}" class="messenger-logo">
                        </a>
                        {% endif %}
                        {% if about_me.messenger %}
                        <a href="{{ about_me.messenger }}" class="messenger-link">
                            <img src="{% static "deps/svg/facebook_messengers.svg" %}" class="messenger-logo">
                        </a>
                        {% endif %}
                        {% if about_me.whatsapp %}
                        <a href="{{ about_me.whatsapp }}" class="messenger-link">
                            <img src="{% static "deps/svg/whatsapp.svg" %}" class="messenger-logo">
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}
    <script src="{% static "deps/js/main.js" %}"></script>
{% endblock js %}