.section-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.container-policy {
    flex-direction: column;
    gap: 25px;
}

.element-policy {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.element-policy h2 {
    font-size: 24px;
}

.element-policy ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.element-policy ul li {
    margin-left: 15px;
}

.element-policy ul li::before {
    content: "•";
    margin-right: 10px;
}