.section-legal-document {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.container-legal-document a {
    text-decoration:underline;
}

.container-legal-document {
    flex-direction: column;
    gap: 25px;
}

.element-legal-document {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.element-legal-document h2 {
    font-size: 24px;
}

.element-legal-document ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.element-legal-document ul li {
    margin-left: 15px;
}

.element-legal-document ul li::before {
    content: "•";
    margin-right: 10px;
}