
/* Общие стили для заголовков секций */
.container-name-lawyer h1, .name-author-in-contact {
    font-family: "Playfair Display", sans-serif;
    text-transform: uppercase;
}

/* Section home */
.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 45px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.83333;
    letter-spacing: 0.02em;
    text-align: center;
    box-shadow: inset 0 4px 59px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--button-and-item-color);
}

.home {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 980px;
    position: relative;
    background-image: url(../image/background_main.png);
}

.home::before {
    content: " ";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    max-height: 980px;
    max-width: 1000px;
    width: 100%;
    background-image: url(../image/author.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.home-container {
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 650px;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -50%);
}

.home-container h1 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.375;
    letter-spacing: 0.04em;
}

.home-container h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.04em;
}

.home-container p {
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    text-align: center;
}

/* Section about-me */
.section-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 7px 3px 0 rgba(0, 0, 0, 0.25);
    padding: 50px 0;
    gap: 63px;
}

.container-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1131px;
    gap: 60px;
}

.container-text-about-me {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 59px;
}

.container-name-lawyer h2 {
    font-weight: 400;
    font-size: 24px;
}

.container-name-lawyer h1 {
    font-size: 36px;
    font-weight: 700;
}

.container-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
}

.image-about-me {
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 4px 4px 22px 0 rgba(0, 0, 0, 0.25);
    max-width: 427px;
    transition: all 1s ease;
}

.information {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1131px;
    width: 100%;
    gap: 19px;
}

.container-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 4px 4px 22px 0 rgba(0, 0, 0, 0.25);
    background: #272eb7;
    transition: all 1s ease;
}

/* Section advantages */
.advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    gap: 30px;
    background-image: url(../image/background_advantages.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.advantage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    max-height: 352px;
    border-radius: 12px;
    padding: 35px 31px;
    box-shadow: 4px 4px 22px 0 rgba(0, 0, 0, 0.25);
    background: #2c2c2c;
}

.title-advantage {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.text-advantage {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
}

/* Section services and consultations */
.consultations, .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;
}

.list-services, .list-consultations {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 31px;
    max-width: 1131px;
}

.consultation, .service {
    max-width: 355px;
    max-height: 434px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 4px 4px 22px 0 rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
}

.consultation a, .service a {
    width: 100%;
    height: 100%;
}

.consultation-image, .service-image {
    width: 100%;
}

.consultation-container-title, .service-container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 35px 31px;
    background: #2c2c2c;
}

.consultation-container-title h1, .service-container-title h1 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

/* Section reviews */

.container-reviews {
    flex-direction: column;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;
    background-image: url(../image/background_reviews.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list-reviews {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.list-reviews::-webkit-scrollbar {
    display: none;
}

.review {
    min-width: 306px;
    flex: 0 0 28%;
    scroll-snap-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 430px;
    gap: 20px;
    border-radius: 5px;
    padding: 40px 20px;
    background-image: url(../image/background_review.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review .name {
    font-weight: 600;
    font-size: 32px;
    text-transform: capitalize;
    color: #000;
}

.container-stars {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
    gap: 10px;
}

.body-stars {
    position: relative;
}

.body-stars::before {
    content: "★★★★★";
    display: block;
}

.stars-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.stars-active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #F1C644;
}

.stars-value {
    font-size: 50%;
    color: #000;
}

.text-review {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0.1em;
    color: #000;
}

.buttons-left-and-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.button-review-left, .button-review-right {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    background-image: url(../image/background_review.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-review-left:hover, .button-review-right:hover {
    box-shadow: 6px 6px 22px 5px rgba(0, 0, 0, 0.25);
}

.button-review-left:active, .button-review-right:active {
    box-shadow: inset 9px 10px 22px 6px rgba(0, 0, 0, 0.25);
}

.button-review-left svg, .button-review-right svg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

/* Section map and contacts */
.map-and-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;
}

.google-map {
    width: 100%;
    height: 775px;
    border-radius: 5px;
    box-shadow: 4px 4px 22px 0 rgba(0, 0, 0, 0.25);
}

.container-contacts {
    max-width: 369px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 19px;
    border-radius: 5px;
    overflow: hidden;
    background: #2c2c2c;
    box-shadow: 4px 4px 22px 0 rgba(0, 0, 0, 0.25);
}

.contacts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 19px;
}

.author-image-in-contact {
    width: 100%;
}

.name-author-in-contact {
    font-weight: 500;
    font-size: 24px;
}

.contact-and-address {
    display: flex;
    flex-direction: column;
}

.contact-and-address a, .contact-and-address p {
    font-weight: 700;
    font-size: 19px;
    line-height: 2.375;
}

.container-messengers {
    display: flex;
    gap: 20px;
}

/* Медиа-запросы */

@media screen and (max-width: 1200px) {
    .container-advantages {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .home::before {
        max-height: none;
        max-width: none;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/author.png);
    }

    .home-container {
        position: relative;
        padding: 0 0 0 1%;
        left: 0;
        top: 0;
        transform: none;
    }
}

@media screen and (max-width: 850px) {
    .container-about-me {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .information {
        flex-direction: column;
    }

    .container-map-and-contacts {
        flex-direction: column;
    }

    .google-map {
        height: 650px;
    }

    .container-contacts {
        max-width: none;
        width: 100%;
        gap: 10px;
    }

    .contact-and-address a, .contact-and-address p {
        font-size: 16px;
    }
}

@media screen and (min-width: 850px) {
    .container-information:hover, .image-about-me:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
    }

    .service:hover, .consultation:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
    }
}

@media screen and (max-width: 650px) {
    .home {
        height: 750px;
        padding: 0;
    }

    .home::before {
        background-position: top left;
    }

    .home-container {
        width: 100%;
        align-items: center;
    }

    .home-container h1, .home-container h2 {
        text-align: center;
    }

    .home-container h1 {
        font-size: 26px;
    }

    .home-container h2 {
        font-size: 16px;
    }

    .button-link {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .image-about-me {
        width: 100%;
    }

    .container-text p {
        font-size: 16px;
    }
}

