{% extends "main/base.html" %}
{% load static %}

{% block title %}
    <title>{{ consultation.title }}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/consultation.css" %}">
{% endblock css %}

{% block content %}
    <section class="section-consultation">
        <div class="container-global container-consultation">
            {% if another_consultation %}
                <ul class="list-consultation">
                    {% for consultation in another_consultation %}
                        <li class="consultation">
                            <a href="{% url "services:consultation" slug=consultation.slug %}">
                                <img class="consultation-image" src="{{ consultation.image.url }}" alt="Зображення {{ consultation.title }}">
                                <div class="consultation-container-title">
                                    <h1>{{ consultation.title }}</h1>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="information-consultation">
                <div class="container-image-title-buttons">
                    <img src="{{ consultation.image.url }}" alt="Зображення {{ consultation.title }}">
                    <div class="container-title-and-buttons">
                        <h1 class="title">{{ consultation.title }}</h1>
                        <h2 class="price">Приблизна ціна: {{ consultation.price }}</h2>
                        <div class="container-buttons">
                            <a href="/registration-form-consultation.html" class="button button-sing-up-for-consultation">Записатися на цю консультацию</a>
                            <button id="call_us_in_consultation" class="button-call-us" title="Зв'язатися з нами">Зв’язатися з нами</button>
                        </div>
                    </div>
                </div>
                <div class="about-consultation">
                    <h2>Опис даной консультації:</h2>
                    <p>{{ consultation.description }}</p>
                </div>
                {% if consultation.sections.all %}
                    <div class="that-you-get">
                        <h2>Що ви отримаєте під час консультації:</h2>
                        <ul class="list-that-you-get">
                            {% for section in consultation.sections.all %}
                                <li class="element-list-that-you-get">
                                    <h3 class="list-title">{{ section.title }}</h3>
                                    <ul class="list-in-list-that-you-get">
                                        {% for item in consultation.items.all %}
                                            <li>{{ item.text }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}

{% endblock js %}