{% extends "main/base.html" %}
{% load static %}

{% block title %}
    <title>{{ service.title }}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/services.css" %}">
{% endblock css %}

{% block content %}
    <section class="section-services">
        <div class="container-global container-services">
            <div class="container-text">
                <h1>Послуги</h1>
                <p>Тут ви знайдете найпоширеніші послуги, які я готовий надати вам. <br>Якщо ви не знайшли потрібну послугу у переліку, не соромтеся зв'язатися зі мною - разом ми знайдемо оптимальне рішення для вашої потреби.</p>
            </div>
            <div class="services">
                <div class="image-service-and-list-sercices">
                    {% if service.image %}
                        <img class="service-image" src="{{ service.image.url }}" alt="Зображення {{service.title}}">
                    {% else %}
                        <img class="service-image" src="{% static "deps/image/alt.png" %}" alt="Зображення не знайдено">
                    {% endif %}
                    <button type="button" class="opening-list-services">{{ service.title }}</button>
                    <ul class="list-services">
                        {% for anouther_service in another_services %}
                            <li class="service"><a href="{% url "services:index" slug=anouther_service.slug %}">{{ anouther_service.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="title-price-text-about-service">
                    <div class="title-and-price">
                        <h1 class="title-service">{{ service.title }}</h1>
                        <h2 class="price-service">Приблизна ціна: {{ service.price }} грн</h2>
                    </div>
                    <p class="text-service">{{ service.description }}</p>
                    <div class="container-buttons">
                        <button id="call_us_in_service" class="button-call-us" title="Зв'язатися з нами">Зв’язатися з нами</button>
                        <a href="{% url "appointments:index" slug=service.slug %}" type="button" class="button button-sing-up-for-consultation">Замовити послугу</a>
                    </div>
                    {% if service.sections.all %}
                        <div class="that-you-get">
                            <h2>Що ви отримаєте:</h2>
                            <ul class="list-that-you-get">
                                {% for section in service.sections.all  %}
                                    <li class="element-list-that-you-get">
                                        <h3 class="list-title">{{ section.title }}</h3>
                                        <ul class="list-in-list-that-you-get">
                                            {% for item in section.items.all %}
                                                <li>{{ item.text }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js %}

{% endblock js %}